<!DOCTYPE html>
<html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You've created a new post: "<%= @post.title %>"</h1>
     <p>
       <%= @post.body %>
     </p>
     <p>You're following it and will receive updates of all future comments. If you want to stop receiving notifications, unfavorite your post.</p>
     <p>
       <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
</html>