<div class="container">    
    <div class="container">    
    <h1>About</h1>
    <p>Find me in app/views/welcome/about.html.erb</p>
    
    <button><%= link_to "Follow me", "https://www.facebook.com/trybloc", class: "social-btn" %></button>
</div>    
